@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");
/* CSS Document */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
  	height: 100%;
	justify-content: flex-end;
	flex-direction: column;
}

/*header lur*/
nav {
  display: flex;
  background-color: rgba(32, 124, 167, 0.781);
  justify-content: space-between;
  align-items: center;
  font-family: Poppins, arial;
  height: max-content;
  border-bottom: 1px solid black;
  box-shadow: 1px 2px 10px rgb(7, 1, 39);
}

.logo {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.logo img {
  margin-top: 5px;
  margin-left: 10px;
  margin-left: 40px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  padding: 7px;
}
.logo p {
  margin-left: 10px;
  font-size: 30px;
  font-family: Pacifico, Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
}

.list ul {
  display: flex;
  justify-self: space-between;
}
nav li {
  list-style: none;
  margin: 1rem;
}

nav li a {
  text-decoration: none;
  color: white;
}
nav li a:hover {
  font-weight: bold;
}
.login {
  display: block;
  text-decoration: none;
  color: white;
}
.login:hover {
  font-weight: bold;
}
.list {
  margin-right: 20px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

@media only screen and (max-width: 760px) {
  .list {
    font-size: 15px;
  }
}
@media only screen and (max-width: 690px) {
  nav {
    display: block;
    border: unset;
    box-shadow: unset;
  }
  nav li {
    margin: 0;
    width: 100%;
    background-color: rgba(32, 124, 167, 0.781);
    border-bottom: 1px solid black;
    height: 100%;
  }
  .list {
    display: block;
    text-align: center;
  }
  .login {
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid black;
  }
  .login:hover {
    font-weight: bold;
  }
  .list {
    margin-right: 0;
  }
}

/*body lur*/
.welcome {
    padding: 40px;
}

.welcome h1 {
    font-size: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table1 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 75%;
    border: 1px solid #f2f5f7;
    margin-bottom: 50px;
}
 
.table1 tr th {
    background: #35A9DB;
    color: #fff;
    font-weight: normal;
}
 
.table1, th, td {
    padding: 8px 20px;
    text-align: center;
}
 
.table1 tr:hover {
    background-color: #f5f5f5;
}
 
.table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}

*{
    box-sizing:border-box;
}
  
.imagebox {
    width: 50%;
    float: left;
    height: 300px;
    position: relative;
}
  
.imagebox img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}
  
.textbox-cont {
    width: 50%;
    height:300px;
    float: right;
    position: relative;
    overflow: hidden;
}
  
.textbox {
    background-color: #444242;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 100px 10px 140px 10px;
    top: 50%;
    transform: translateY(-50%);  
}
  
@media only screen and (max-width: 700px) {
    .imagebox,
    .textbox-cont {
      width: 100%;
      height: 200px;
     }
}

.column {
    float: left;
    width: 33.3%;
    margin-top: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0);
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.card img {
    width: 250px;
    height: auto;
	border-radius: 50%;
	height: 250px;
}

@media only screen and (max-width: 950px) {
    .column, .card{
        width: 100%;
        display: block;
    }

	.column {
		float: left;
		width: 50%;
		margin-top: 16px;
		padding: 0 8px;
	}

	.card img {
		width: 200px;
		height: 200px;
	}
}

/*footer skuy*/
footer {
	display: flex;
	position: relative;
	height: auto;
	padding: 40PX;
	width: 100%;
	background-color: #246C8F;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer .footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;	
}
footer .footer .section {
	margin-right: 30px;
}

footer .footer .section.footlog { 
	width: 10%;
	display: flex;
  	color: white;
  	justify-content: center;
  	align-items: flex-start;
	
}
.footlog img {
	margin-top: 0px;
  	margin-left: 10px;
  	margin-left: 40px;
  	width: 80px;
	height: 80px;
	margin: 0px 10px;
	cursor: pointer;
}
.footlog p {
  	margin-left: 5px;
	margin-right: 10px;
  	font-size: 22px;
  	font-family: Pacifico, Arial, Helvetica, sans-serif;
  	color: white;
	cursor: pointer;
}

footer .footer .section.about {
	width:20%;
}

.footer .section h2 {
	position: relative;
	margin-bottom: 15px;
	color: #FFFFFF;
	font-weight: bolder;
	font-size: 24px;
}
.footer .section h2:hover {
	font-weight: 500;
	color: #ECDBDC;
}
.footer .section.about h2:before {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 124px;
	height: 3px;
	background-color: #E5282D;
}
.footer .section.supp h2:before {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 112px;
	height: 3px;
	background-color: #E5282D;
}
.footer .section.contact-us h2:before {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 157px;
	height: 3px;
	background-color: #E5282D;
}
.footer .about p {
	color: #FFFFFF;
	font-size: 16px;
}
.supp {
	position: relative;
	width: 20%;
}
.supp ul li {
	list-style: none;
	margin-bottom: 10px;
	display: block;
}
.supp a {
	color: #FFFFFF;
	text-decoration: none;
}
.supp a:hover {
	font-weight: bold;
	color: #ECDBDC;
}
.contact-us {
	width: calc(30%-60px);
	margin-right: 5px !important;
}
.contact-us .contact {
	position: relative;
}
.contact-us .contact li {
	display: flex;
	margin-bottom: 16px;
}
.contact-us .contact li span,a {
	color:#FFFFFF;
	font-size: 16px;
}
.contact-us .contact a{
	text-decoration: none;
}
.contact-us .contact li span:hover{
	font-weight: bold;
	color: #ECDBDC;
}
.copyright {
	width: 100%;
	background-color: #02364F;
	color: #FFFFFF;
	font-size: 12px;
	padding: 5px 100px;
	text-align: center;
}
@media only screen and (max-width: 948px) {
	footer{
		padding:15px;
	}
}
@media only screen and (max-width: 770px) {	
	footer{
		padding:20px;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	footer .footer {
		flex-direction: column;
	}
	footer .footer .section.footlog {
	width:100%;
	display: flex;
  	color: white;
  	justify-content: center;
  	align-items: center;
	}
	.footlog {
 	 	display: flex;
  		color: white;
  		justify-content: center;
  		align-items: center;
	}
	.footlog img {
	  margin-top: 5px;
	  margin-left: 10px;
	  margin-left: 40px;
	  width: 80px;
	}
	.footlog p {
	  margin-left: 10px;
	  font-size: 30px;
	  font-family: Pacifico, Arial, Helvetica, sans-serif;
	  color: white;
	}
	
	footer .footer .section {
		margin-right:0;
		margin-bottom: 20px;
	}
	footer .footer .section.about {
		margin-bottom: 30px;
	}
	footer .footer .section.about,.supp,.contact-us {
		width: 100%;
	}
	.contact li {
		align-items: center;
		justify-content: center;
		align-content: center;
		text-align: center;
	}
	.copyright {
		padding: 5px 20px;
	}
}
